#myDiv {
            width: 200px;
            height: 200px;
            background-color: white;
            border: 1px solid black;
            margin-top: 20px;
        }

        #timer {
            font-size: 30px;
            margin-top: 20px;
            font-weight: bold;
        }

        #usersList {
            margin-top: 30px;
            padding: 10px;
            border: 1px solid gray;
            width: 300px;
        }